BODY {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}
::-webkit-input-placeholder {
   color: #000000;
   font-family: sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;  
   font-family: sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;  
   font-family: sans-serif;
}

:-ms-input-placeholder {  
   color: #000000;  
   font-family: sans-serif;
}
canvas {
	display: block;
}
#wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#load-panel {
	display: inline;
	background-color: #000000;
}
#menu-panel {
	display: none;
}
#menu {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: calc(100% - 32px);
	max-width: 512px;
}
#title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center; /* align horizontal */
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline; /* align vertical */
	margin-bottom: 8px;
	height: 30px;
	font-size: 1.5em;
	padding: 12px;
	color: #ffffff;
	font-size: 2em;
}
#romLogo {
	display: block;
	width: 100%;
	margin-bottom: 8px;
}
#input-wrapper {
	height: 42px;
	padding: 6px;
	background-color: #ffffff;
	border-radius: 6px;
}
#name-input {
	border: none;
	height: 30px;
	width: calc(100% - 128px);
	margin-top: 6px;
	font-size: 1.5em;
	float: left;
}
#play-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center; /* align horizontal */
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center; /* align vertical */
	width: 100px;
	height: 42px;
	float: right;
	background-color: #2488EA;
	border-radius: 6px;
	color: #ffffff;
	font-size: 1.5em;
	cursor: pointer;
}
#wait-panel {
	display: none;
	background-color: #000000;
}
#game-panel {
	display: none;
}
.panel {
	position: absolute;
	width: 100%;
	height: 100%;
}
.centered-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center; /* align horizontal */
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center; /* align vertical */
	width: 100%;
	height: 100%;
}
.message-wrapper {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center; /* align horizontal */
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center; /* align vertical */
	color: #ffffff;
}
#debug {
	color: #ff0000;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 2em;
}
